body {
    background-color: rgba(0, 93, 62, 0.805);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 28px;
}

img {
    width: 200px;
}

h1 {
    color: rgb(58, 36, 2);
}

p {
    text-align: center;
}

.currency {
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid #080808;
    font-size: 16px;
    background-color: beige;
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.currency input {
    background-color: bisque;
    font-size: 30px;
    text-align: right;
}

.swapcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: rgb(204, 221, 219);
    font-size: 14px;
    padding: 0 65px;
    margin-bottom: 20px;
}

@media(max-width:600px) {
    .currency input {
        width: 200px;
    }
}